<%= turbo_frame_tag dom_id(bucket, :involvement) do %>
  <div class="flex align-center gap-half pad-inline">
    <h2 class="txt-medium overflow-ellipsis">
      <%= bucket.name %>
    </h2>

    <hr class="separator--horizontal flex-item-grow" style="--border-color: var(--color-subtle-dark); --border-style: dashed" aria-hidden="true">

    <label class="switch flex-item-no-shrink">
      <%= access_involvement_advance_button(bucket, user) %>
    </label>
  </div>
<% end %>
