<p class="subtitle">Your import of <%= @account.name %> is complete!</p>

<p><%= link_to "Go to your account", landing_url(script_name: account.slug) %></p>

<p class="footer">Need help? <%= mail_to "support@fizzy.do", "Send us an email" %>.</p>
