<div data-controller="dialog" data-action="turbo:load@window->dialog#open" data-dialog-modal-value="true">
  <dialog class="welcome-letter panel panel--wide shadow dialog" data-dialog-target="dialog">
    <div class="txt-align-center margin-block-end">
      <span class="welcome-letter__avatar txt-xx-large avatar center"><%= image_tag "jf-avatar.jpg", size: 36%></span>
    </div>

    <h2 class="txt-medium margin-none txt-tight-lines">Thanks for signing up — your account is ready to go!</h2>

    <p>Fizzy is modern spin on kanban for tracking just about anything. Bugs, issues, ideas, small projects, it fits them all.</p>

    <p>Fast, straightforward, and vibrant, it’s a blast of fresh air in a shockingly stale category.</p>

    <p>We invite you to poke around and use Fizzy to track 1000 things for free. I’m glad you’re here, and I’d love to hear what you think.</p>

    <p>Thanks again and all the best,</p>

    <span class="welcome-letter__signature"></span>

    <p><strong>Jason Fried</strong>, jason@37signals.com<br>
      <em>Co-founder of 37signals, makers of Fizzy</em>
    </p>
  </dialog>
</div>
