<% @hide_footer_frames = true %>

<div data-controller="popup-window" class="panel shadow center margin-block-double">
  <strong class="txt-large">Your accounts are already linked</strong>
  <p>There's nothing left to do. Any Basecamp link you paste into Fizzy will automatically be turned into a preview</p>

  <button class="btn" data-action="popup-window#close">OK</button>
</div>
