<%= form_with url: events_path,
      method: :get, class: "flex-inline flex-wrap position-relative justify-center",
      data: { controller: "form", turbo_frame: "cards_container", turbo_action: "advance" } do |form| %>
  <%= render "events/index/filter/board", user_filtering: %>

  <span>&nbsp;by&nbsp;</span>

  <%= render "events/index/filter/user", user_filtering: %>
<% end %>
