<div class="tray__item" id="<%= dom_id pin %>">
  <%= render "cards/display/preview", card: pin.card %>
  <%= button_to card_pin_path(pin.card), method: :delete, class: "tray__remove-pin-btn btn btn--circle borderless" do %>
    <%= icon_tag "remove-med" %> <span class="for-screen-reader">Un-pin this card</span>
  <% end %>
</div>
