<% filter = user_filtering.filter %>

<% if user_filtering.expanded? %>
  <button type="button" class="btn txt-x-small btn--reversed" aria-selected="true" aria-label="Close filter options" data-action="toggle-class#toggle toggle-enable#toggle">
    <%= icon_tag "filter" %>
  </button>
<% else %>
  <button type="button" class="btn txt-x-small" aria-label="Expand filter options" data-action="toggle-class#toggle toggle-enable#toggle">
    <%= icon_tag "filter" %>
  </button>
<% end %>
