@layer components {
  /* Prevent page scrolling when modal dialog is open */
  html:has(dialog:modal) {
    overflow: hidden;
  }

  :is(.dialog) {
    border: 0;
    opacity: 0;
    transform: scale(0.9);
    transform-origin: center;
    transition: var(--dialog-duration) ease-out allow-discrete;
    transition-property: opacity, overlay, transform;

    &::backdrop {
      background-color: var(--color-black);
      opacity: 0.4;
      transition: var(--dialog-duration) ease-out allow-discrete;
      transition-property: opacity, overlay;
    }

    &[open] {
      opacity: 1;
      transform: scale(1);

      &::backdrop {
        opacity: 0.5;
      }
    }

    @starting-style {
      &[open] {
        opacity: 0;
        transform: scale(0.9);
      }

      &[open]::backdrop {
        opacity: 0.4;
      }
    }
  }

  /* Ensure padding from viewport edges */
  .dialog.panel {
    max-inline-size: calc(100vw - var(--inline-space-double) * 2);
  }
}
