@layer components {
  .flash {
    display: flex;
    inset-block-start: calc(var(--block-space) + var(--custom-safe-inset-top));
    inset-inline-start: 50%;
    justify-content: center;
    position: fixed;
    transform: translate(-50%);
    z-index: var(--z-flash);
  }

  .flash__inner {
    animation: appear-then-fade 3s 300ms both;
    background-color: var(--flash-background, var(--color-ink));
    border-radius: 4em;
    color: var(--flash-color, var(--color-ink-inverted));
    display: inline-flex;
    font-size: var(--font-size-medium);
    margin: 0 auto;
    padding: 0.7em 1.4em;
  }
}
