@layer components {
  .welcome-letter {
    z-index: 99;
  }

  .welcome-letter__signature {
    background-color: currentColor;
    block-size: 3em;
    display: inline-block;
    inline-size: 8em;
    mask-image: url("jf-signature.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 8em 3em;
  }
}
