<% @hide_footer_frames = true %>

<div data-controller="popup-window" class="panel shadow center margin-block-double">
  <strong class="txt-large">Your accounts are now linked</strong>
  <p>From now on, any Basecamp link you paste into Fizzy will automatically be turned into a preview.</p>

  <button class="btn btn--link" data-action="popup-window#close">Done</button>
</div>
