<nav data-controller="dialog" data-action="keydown.esc->dialog#close click@document->dialog#closeOnClickOutside">
  <%= render "filters/menu/button" %>

  <%= tag.dialog class: "fizzy-menu filter popup popup--animated panel margin-block-start-half",
        data: {
              action: "turbo:before-cache@document->dialog#close keydown->navigable-list#navigate filter:changed->navigable-list#reset toggle->filter#filter",
              controller: "filter navigable-list",
              dialog_target: "dialog",
              navigable_list_focus_on_selection_value: false,
              navigable_list_actionable_items_value: true } do %>
    <%= turbo_frame_tag "my_menu", src: my_menu_path(**user_filtering.filter.as_params), target: "_top" %>
  <% end %>
</nav>
