<%= form_tag commands_path,
      id: "commands_form",
      class: [ "flex align-center gap-half" ],
      data: {
        controller: "form",
        terminal_target: "form",
        action: "turbo:submit-end->terminal#focus keydown.meta+k@document->terminal#focus turbo:submit-end->terminal#executeCommand"
      } do %>
  <label class="terminal__label txt-nowrap" for="fizzy_do">Fizzy do &gt;</label>

  <%= text_field_tag "command", nil,
        autocomplete: "off",
        autocorrect: "off",
        autocapitalize: "off",
        class: "terminal__input input fill-transparent unpad",
        data: {
          terminal_target: "input",
          action: "keydown.up->toggle-class#add:prevent keydown.up->navigable-list#selectCurrentOrLast",
          turbo_permanent: true
        },
        placeholder: "Press ⌘+K to search or type commands…",
        spellcheck: "false" %>

  <%=  hidden_field_tag "confirmed", nil, data: { terminal_target: "confirmation" } %>
<% end %>

